<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>Hello, World!</title>
    <style type="text/css">
      html * { padding:0; margin:0; }
      body * { padding:10px 20px; }
      body * * { padding:0; }
      body { font:small sans-serif; }
      body>div { border-bottom:1px solid #ddd; }
      h1 { font-weight:normal; }
      h2 { margin-bottom:.8em; }
      #summary { background: #e0ebff; }
      #summary h2 { font-weight: normal; color: #666; }
      #instructions { background:#f6f6f6; }
      #summary table { border:none; background:transparent; }
    </style>
  </head>
  <body>
    <div id="summary">
      <h1>It worked!</h1>
      <h2>Congradulations on your first kj powered webapp!</h2>
    </div>
    <div id="instructions">
      <p>
        Now add some routes and get to work! :P
      </p>
    </div>
  </body>
</html>
